body{
	background: linear-gradient(-90deg,#45ff89,#ffffff);
}
header{
	background: transparent;
	max-height: 150px;
	min-height: 100px;
	width: auto;
}
nav{
	width: auto;
	max-height:100px;
	min-height:80px; 	
}
article{
	padding: 5%;
	align-content: center;
}
article p{
		animation-name: myanimation;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-fill-mode: all;
		text-align: center;
		font-weight: bolder;
		text-decoration: underline;
}
article section{
	padding: 5%;
	align-content: center;
	align-items: center;
	object-fit: fill;
}
article section img:hover{
	opacity:0.8;
}
article section img{
	text-align: center;
	align-content: center;
	align-items: center;
	border-radius: 20px;
	border: solid 2px;
	background: linear-gradient(#ffc600,#ffffff);
	width: 70%;
	height: 30%;
	min-width: 200px;
	min-height: 100px;
	margin-left:15%;
	margin-right:15%; 
	padding: 5%;
	box-shadow:5px 5px black;
}
@keyframes myanimation{
	 0%{color:red;}
	 50%{color:blue;}
	 100%{color:black;}
}
#logo{
	margin-right: 5%;
	float: left;
	font-weight: bolder;
	font-size: 45px;
}
#contact{
	float: right;
	font-variant-caps: small-caps;
	color: black;
	font-weight: bolder;
}
nav ul{

	float: left;
	padding: 30px; 
	margin: 20px;
	font-weight: lighter;
}
nav ul a{
	text-decoration: none;
}
nav ul a:hover{
	transition: 2s;
	text-decoration: underline;
	list-style-type: square;
}
footer{
	background: black;
	color: white;
	width: auto;
	bottom: 0;
	height: 400px;
	left: 0;
	right:0;
}
#abot{
	background: inherit;
	float: left;
	width: 600px;
	height: inherit;
	margin-left: 3%;	
	text-align: left;
}
#links{
	background: inherit;
	height: inherit;
	text-align: right;
	list-style-type: somali;
	margin-right: 3%;
	float: right;
	width: auto;
}
